@import '~/components/constants.module.scss';

.service {
    position: relative;
}

.expandService {
    position:  absolute;
    top: 100%;
    left: 0;
    display: none;
    overflow: hidden;
}

.service:hover .expandService {
    display: block;
}

.expandServiceItem {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: bold;
}

.expandServiceItem:hover {
    background-color: $main-context-color;
}

.expandServiceItem:hover * {
    color: #000;
}

.page {
    position: relative;
}

.expandPage {
    position:  absolute;
    top: 100%;
    left: 0;
    display: none;
    overflow: hidden;
}

.expandPageItem {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: bold;
}

.page:hover .expandPage {
    display: block;
}
.expandPageItem:hover {
    background-color: $main-context-color;
}

.expandPageItem:hover * {
    color: #000;
}

@media (max-width: 1137px) {
    .expandService {
        position:  absolute;
        left: 90%;
        top: 0;
        display: none;
        overflow: hidden;
    }
    .expandPage {
        position:  absolute;
        left: 100%;
        top: 0;
        display: none;
        overflow: hidden;
    }
}