@import '~/components/constants.module.scss';

.service {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    
}

.expandService {
    position:  absolute;
    top: 100%;
    left: 0;
    display: none;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.service:hover .expandService {
    display: block;
}

.expandServiceItem {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    padding: 5px;
    font-weight: lighter;
}

.expandServiceItem:hover {
    background-color: $main-context-color;
}



.page {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    
}

.expandPage {
    position:  absolute;
    top: 100%;
    left: 0;
    display: none;
    overflow: hidden;
}

.expandPageItem {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: bold;
}

.page:hover .expandPage {
    display: block;
}
.expandPageItem:hover {
    background-color: $main-context-color;
}

.expandPageItem:hover * {
    color: #000;
}
