.boxContainer {
    background-color: #fff;
    width: 350px;
    height: 500px;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-top-left-radius: 8px;
    transition: all ease-in 0.2s;
    // overflow: hidden;
    display: flex;
    flex-direction: column;

}

.boxContainer.off {
    height: 50px;
    border: solid 1px #de5945;
}

.expandButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
}